<footer>
  <div class="div1">
    <a href="#"
      >Read about Netflix TV shows and movies and watch bonus videos on
      Tudum.com.</a
    >
  </div>
  <div class="div2"><a href="">Questions? Contact us.</a></div>
  <div class="div3">
    <a href="#">FAQ</a>
    <a href="#">Investor Relations</a>
    <a href="#">Ways To Watch</a>
    <a href="#">Corporate Information</a>
    <a href="#">Only on Netflix</a>
    <a href="#">Help Center</a>
    <a href="#">Contact Us</a>
    <a href="#">Terms Of Use</a>
    <a href="#">Jobs</a>
    <a href="#">Account</a>
    <a href="#">Reedem Gift Cards</a>
    <a href="#">Privacy</a>
    <a href="#">Speed Test</a>
    <a href="#">Media Center</a>
    <a href="#">Buy Gift Cards</a>
    <a href="#">Cookie Preferences</a>
    <a href="#">Legal Notices</a>
  </div>
  <div class="div4">
    <a href="https://github.com/matiusdimas">Clone By Matius Dimas</a>
  </div>
</footer>
